header {
  background-color: #FFFFFF;
  width:100%; min-height:20vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  box-shadow:0 0 20px lightgray;
  background-color: rgb(245, 60, 70);
  h1 {
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px;
    font-weight:700;
    text-align: center;
    color:white;
  }
  nav {
    width: 50%; height: 40%;
    display: flex; align-items: center; justify-content: space-around;
    a {
      text-decoration: none;
      font-weight: 400; color: white; line-height: 20px;
      padding: 10px;
      &:hover {
        border-bottom: 2px solid white;
      }
    }
    .active {
      border-bottom: 2px solid rgb(55, 225, 210);
    }
  }
  button {
    width:10%;
  }
}
